<div class="container py-4">
  <div class="pb-3 mb-4 border-bottom">
    <div class="p-5 mb-4 rounded-3">
      <div class="container-fluid py-5">
        <div *ngIf="auth.user | async as user; else welcomeAnonymous">
          <h2 class="display-5 fw-bold">
            Welcome, {{ user.displayName + "." || user.email || "?" }}
          </h2>
        </div>
        <ng-template #welcomeAnonymous>
          <h2 class="display-5 fw-bold">Welcome.</h2>
        </ng-template>
        <p class="col-md-8 fs-4">
          Black Belt is something that takes years of training, hard work, and
          dedication. Lots of sweat and tears go into making a Black Belt. The
          Black Belt process is one of the most rewarding things you will ever
          do. The awesome memories you have made and will make, will be with you
          for a lifetime.
        </p>
        <p class="col-md-8 fs-4">
          Remember, you are now a part of the King Tiger history that started in
          1959 with Grandmaster Jung. Our journey started in 1988 when
          Grandmaster Lee opened our first school in Greenville, NC. You are a
          part of that lineage. You represent not only yourself and your family,
          but every Black Belt that has come before you and the ones that have
          not yet taken their first kick!
        </p>
        <p class="col-md-8 fs-4">
          You are King Tiger and you will be a King Tiger Black Belt!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="currentCycle">
  <p>{{ currentCycle.title }} ({{ currentCycle.alias }})</p>
  <p>{{ currentCycle.cycleStart }} - {{ currentCycle.cycleEnd }}</p>
</div>
