<div class="modal-header">
    <h4 class="modal-title font-magistral-bold">Cycle Editor</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="container">
        <form class="needs-validation" novalidate [formGroup]="editorForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="title" formControlName="title" required />
                            <label for="title">Title <span class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="cycleStart" class="form-label">Start Date <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cycleStart" formControlName="cycleStart"
                                required ngbDatepicker #ds="ngbDatepicker" [firstDayOfWeek]="7"
                                [class.is-invalid]="hasErrors('cycleStart')" />
                            <button type="button" class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="ds.toggle()"></button>
                            <div class="invalid-feedback" *ngIf="hasError('cycleStart', 'startAfter')">
                                Cycle start date must be before cycle end date.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="cycleEnd" class="form-label">End Date <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cycleEnd" formControlName="cycleEnd" required
                                ngbDatepicker #de="ngbDatepicker" [firstDayOfWeek]="7"
                                [class.is-invalid]="hasErrors('cycleEnd')" />
                            <button type="button" class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="de.toggle()"></button>
                            <div class="invalid-feedback" *ngIf="hasError('cycleEnd', 'endBefore')">
                                Cycle end date must be after cycle start date.
                            </div>
                            <div class="invalid-feedback" *ngIf="hasError('cycleEnd', 'notWeeks')">
                                Cycle end date must be a multiple of weeks (7 days).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="cyclePreStart" class="form-label text-muted">Pre-Cycle Start Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cyclePreStart" formControlName="cyclePreStart"
                                ngbDatepicker #dps="ngbDatepicker" [firstDayOfWeek]="7"
                                [class.is-invalid]="hasErrors('cyclePreStart')" />
                            <button type="button" class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="dps.toggle()"></button>
                            <div class="invalid-feedback" *ngIf="hasError('cyclePreStart', 'startAfter')">
                                Cycle pre-start date must be before cycle start date.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="cyclePostEnd" class="form-label text-muted">Post-Cycle End Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cyclePostEnd" formControlName="cyclePostEnd"
                                ngbDatepicker #dpe="ngbDatepicker" [firstDayOfWeek]="7"
                                [class.is-invalid]="hasErrors('cyclePostEnd')" />
                            <button type="button" class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="dpe.toggle()"></button>
                            <div class="invalid-feedback" *ngIf="hasError('cyclePostEnd', 'endBefore')">
                                Cycle post-end date must be after cycle end date.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center" *ngIf="f('id').value == 0">
                <p class="fw-bolder fst-italic">For your convenience we have populated the cycle requirements from the
                    cycle requirement defaults.</p>
            </div>
            <!-- Physical Activity Requirements -->
            <ng-container formGroupName="requirements">
                <fieldset class="border border-2 p-2">
                    <legend class="w-auto">Physical Activity Requirements</legend>
                    <p>Enter the required amount (target) for each physical activity, typically expressed in total
                        number
                        of minutes. <br /><b>Leave an entry as zero (0) if you do not want it tracked for the
                            cycle.</b>
                    </p>
                    <div class="row mb-3" *ngFor="let requirement of physical | keyvalue">
                        <label [for]="requirement.key" class="col col-form-label"
                            [ngClass]="f('requirements.'+requirement.key).value == 0 ? ['text-muted', 'fst-italic'] : ''">{{
                            requirement.value.label }}<span *ngIf="requirement.value.reducable">*</span><span
                                *ngIf="!requirement.value.carriable">&dagger;</span>
                            <br /><small class="text-muted">{{ requirement.value.description }}</small></label>
                        <div class="col">
                            <input type="number" class="form-control" [id]="requirement.key"
                                [formControlName]="requirement.key" input-numeric
                                [class.is-invalid]="hasErrors('requirements.'+requirement.key)" />
                            <div class="form-text">({{ requirement.value.units }})</div>
                            <div class="invalid-feedback" *ngIf="hasError('requirements.'+requirement.key, 'pattern')">
                                Enter a whole number of {{ requirement.value.units }}.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </ng-container>
            <!-- Class Attendance Requirements -->
            <ng-container formGroupName="requirements">
                <fieldset class="border border-2 p-2">
                    <legend class="w-auto">Class Attendance Requirements</legend>
                    <p>Enter the required amount (target) for each class attendance, typically expressed in total
                        number
                        of classes. <br /><b>Leave an entry as zero (0) if you do not want it tracked for the
                            cycle.</b>
                    </p>
                    <div class="row mb-3" *ngFor="let requirement of classes | keyvalue">
                        <label [for]="requirement.key" class="col col-form-label"
                            [ngClass]="f('requirements.'+requirement.key).value == 0 ? ['text-muted', 'fst-italic'] : ''">{{
                            requirement.value.label}}<span *ngIf="requirement.value.reducable">*</span><span
                                *ngIf="!requirement.value.carriable">&dagger;</span>
                            <br /><small class="text-muted">{{ requirement.value.description }}</small></label>
                        <div class="col">
                            <input type="number" class="form-control" [id]="requirement.key"
                                [formControlName]="requirement.key" input-numeric
                                [class.is-invalid]="hasErrors('requirements.'+requirement.key)" />
                            <div class="form-text">({{ requirement.value.units }})</div>
                            <div class="invalid-feedback" *ngIf="hasError('requirements.'+requirement.key, 'pattern')">
                                Enter a whole number of {{ requirement.value.units }}.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </ng-container>
            <!-- Other Daily/Weekly Requirements -->
            <ng-container formGroupName="requirements">
                <fieldset class="border border-2 p-2">
                    <legend class="w-auto">Other Daily/Weekly Requirements</legend>
                    <p>Enter the required amount (target) for each daily or weekly activity, typically expressed in
                        total number minutes or
                        classes. <br /><b>Leave an entry as zero (0) if you do not want it tracked for the
                            cycle.</b>
                    </p>
                    <div class="row mb-3" *ngFor="let requirement of other | keyvalue">
                        <label [for]="requirement.key" class="col col-form-label"
                            [ngClass]="f('requirements.'+requirement.key).value == 0 ? ['text-muted', 'fst-italic'] : ''">{{
                            requirement.value.label }}<span *ngIf="requirement.value.reducable">*</span><span
                                *ngIf="!requirement.value.carriable">&dagger;</span>
                            <br /><small class="text-muted">{{ requirement.value.description }}</small></label>
                        <div class="col">
                            <input type="number" class="form-control" [id]="requirement.key"
                                [formControlName]="requirement.key" input-numeric
                                [class.is-invalid]="hasErrors('requirements.'+requirement.key)" />
                            <div class="form-text">({{ requirement.value.units }})</div>
                            <div class="invalid-feedback" *ngIf="hasError('requirements.'+requirement.key, 'pattern')">
                                Enter a whole number of {{ requirement.value.units }}.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </ng-container>
            <p>
                <small>* The target amounts for these requirements will automatically be reduced by 40% for
                    Poom (under age 13) candidates.
                    <br />&dagger; These requirements cannot be carried forward from a previously incomplete or audited
                    cycle.
                </small>

            </p>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Cancel</button>
    <button type="reset" class="btn btn-danger" (click)="onReset()">Reset</button>
    <button type="submit" class="btn btn-success" [disabled]="editorForm.invalid" (click)="onSubmit()">Submit</button>
</div>
