<div class="container">
    <div class="row align-items-center vh-100">
        <div class="col-md-5 mx-auto ">
            <div id="register-top">
                <form [formGroup]="registerForm" class="needs-validation register-form form" novalidate>
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1 class="text-center font-magistral-bold">Registration</h1>
                        </div>
                    </div>
                    <fieldset formGroupName="credentials" *ngIf="!f('credentials')?.disabled">
                        <legend>Sign In Credentials</legend>
                        <p>First, create (or sign in to) an account with your email address and a password, or sign in
                            with a social media account.</p>
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="register-email"
                                formControlName="email" aria-describedby="email-help" placeholder="Enter Email" #email
                                [class.is-invalid]="f('credentials.email')?.errors" />
                            <label for="register-email">Email Address <span class="text-danger">*</span></label>
                            <div class="invalid-feedback" *ngIf="f('credentials.email')?.hasError('verify')">
                                <span *ngIf="f('credentials.email')?.getError('verify') == 'auth/email-already-in-use'">
                                    Another user is already using this email address or you need to sign in first.
                                </span>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="password" class="form-control" id="register-password"
                                formControlName="password" aria-describedby="password-help" placeholder="Enter Password"
                                #password [class.is-invalid]="f('credentials.password')?.errors" />
                            <label for="signin-password">Password <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="verify" class="form-control" id="register-verify"
                                formControlName="verify" aria-describedby="verify-help" placeholder="Enter Password"
                                #verify [class.is-invalid]="f('credentials.verify')?.errors" />
                            <label for="signin-password">Verify Password <span class="text-danger">*</span></label>
                            <div class="invalid-feedback" *ngIf="f('credentials.verify')?.hasError('verify')">
                                The email address and/or password is incorrect. Please try again.
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="d-grid gap-2 d-md-block text-center">
                                <button class="btn btn-outline-primary mx-2"
                                    (click)="handleEmailSignIn(email.value, password.value)">
                                    Sign In
                                </button>
                                <span>or</span>
                                <button class="btn btn-primary mx-2"
                                    (click)="handleEmailCreate(email.value, password.value)">
                                    Create Account
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="signin-or">
                                <hr class="hr-or" />
                                <span class="span-or">or</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="text-center">Sign in with</p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="d-grid gap-2 d-md-block text-center">
                                <button class="btn btn-outline-primary mx-2" (click)="handleAppleSignIn()">
                                    <i class="bi-apple"></i>
                                    Apple
                                </button>
                                <button class="btn btn-outline-primary mx-2" (click)="handleGoogleSignIn()">
                                    <i class="bi-google"></i>
                                    Google
                                </button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset formGroupName="credentials" *ngIf="f('credentials')?.disabled">
                        <legend>Sign In Credentials</legend>
                        <p>You are signed in as <b>{{ currentUser?.displayName }}</b> and your username is:</p>
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="register-email"
                                formControlName="email" aria-describedby="email-help" placeholder="Enter Email" #email
                                [class.is-invalid]="f('email')?.errors" />
                            <label for="register-email">Email Address</label>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            <div class="d-grid gap-2 d-md-block text-center">
                <button class="btn btn-lg btn-secondary mx-5" routerLink="/register/credentials">
                    Back
                </button>
                <button class="btn btn-lg btn-primary mx-5" routerLink="/register/candidate-info">
                    Next
                </button>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>