.signin-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
/*
ul.stepper {
    list-style: none;
}

ul.stepper li.stepper-item.stepper-visited:only-child {
    border-radius: 2rem;
}

ul.stepper > li.stepper-item {
    display: inline-block;
    line-height: 1rem;
    padding: 0.25rem;
    margin: 0.5rem 0;
}

ul.stepper > li.stepper-item.stepper-active  button {
    border-radius: 2rem;
    background-color: #adb5bd;
    border: #ced4da solid 2px;
}
ul.stepper > li.stepper-item.stepper-visited {
    background-color: #ced4da;
    border: #ced4da solid 2px;
}

ul.stepper li.stepper-item.stepper-visited:first-child,
ul.stepper li.stepper-item.stepper-visited:only-child {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

ul.stepper li.stepper-item.stepper-visited:last-child,
ul.stepper li.stepper-item.stepper-visited:only-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

*/