<div class="container">
  <div class="ktb-title-container">
    <h1 class="ktb-title font-magistral-bold">
      {{ currentCycle?.title || 'No Active Cycle' }}
    </h1>
    <h4 class="ktb-subtitle" *ngIf="currentCycle"> {{ currentCycle.cycleStart | localDate:'fullDate' }} &mdash; {{
      currentCycle.cycleEnd |
      localDate:'fullDate' }}
    </h4>
    <mat-progress-bar mode="determinate" [value]="cycleOverallValue()" [ngStyle]="cycleOverallStyle()"
      color="accent"></mat-progress-bar>
  </div>
  <div *ngIf="currentCycle">
    <table class="ktb-navigation">
      <tr>
        <th>
          <button mat-mini-fab [disabled]="currentCycle.weekOf(currentWeek) <= 0" (click)="onPrevWeek()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </th>
        <th class="ktb-title-container">
          <h2 class="ktb-title">Week {{ currentCycle.weekOf(currentWeek) + 1 }}</h2>
          <span class="ktb-subtitle">{{ currentWeek.starts | localDate:'fullDate' }} &mdash; {{ currentWeek.ends |
            localDate:'fullDate'
            }}</span>
          <mat-progress-bar mode="determinate" [value]="weeklyOverallValue()" [ngStyle]="weeklyOverallStyle()"
            color="accent"></mat-progress-bar>
        </th>
        <th>
          <button mat-mini-fab [disabled]="(currentCycle.weekOf(currentWeek) + 1) >= currentCycle.cycleWeeks"
            (click)="onNextWeek()">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </th>
      </tr>
      <tr>
        <td colspan="3">
          <a mat-flat-button class="ktb-navigation-link" *ngFor="let w of range(currentCycle.cycleWeeks)"
            [routerLink]="currentRoute" [queryParams]="{week: w + 1}" queryParamsHandling="merge">
            <fa-icon [icon]="faCircle"
              [ngStyle]="{color: weekColor(w), opacity: w === currentCycle.weekOf(currentWeek) ? '1.0' : '0.5'}"></fa-icon>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <h3>Weekly Activities</h3>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table #weeklyTable [dataSource]="candidateTracking?.daily || []">
      <ng-container matColumnDef="trackingDate">
        <th mat-header-cell *matHeaderCellDef>
          Day
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.trackingDate | localDate:'cccc' | uppercase }}<br />
          <small>{{ row.trackingDate }}</small>
        </td>
        <td mat-footer-cell *matFooterCellDef><em>Target to stay on track:</em></td>
      </ng-container>
      <ng-container [matColumnDef]="name" *ngFor="let name of weeklyColumns | slice:1:-1">
        <th mat-header-cell *matHeaderCellDef>
          {{ getConfig(name)?.title }}
          <mat-progress-bar mode="determinate" [value]="weeklyProgressValue(name)" [ngStyle]="weeklyProgressStyle(name)"
            color="accent"></mat-progress-bar>
        </th>
        <td mat-cell *matCellDef="let row">
          {{ displayValue(row, name) }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          ({{ weeklyProgressGoal(name) | rounded:'ceil' }} {{ getConfig(name)?.units }} this week)
        </td>
      </ng-container>
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="row-menu" *matCellDef="let row">
          <button mat-button (click)="onEdit(row, weeklyColumns)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="weeklyColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: weeklyColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="weeklyColumns"></tr>
    </table>
  </div>

  <div>
    <h3>Daily Activities</h3>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table #dailyATable [dataSource]="candidateTracking?.daily || []">
      <ng-container matColumnDef="trackingDate">
        <th mat-header-cell *matHeaderCellDef>
          Day
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.trackingDate | localDate:'cccc' | uppercase }}<br />
          <small>{{ row.trackingDate }}</small>
        </td>
        <td mat-footer-cell *matFooterCellDef><em>Target to stay on track:</em></td>
      </ng-container>
      <ng-container [matColumnDef]="name" *ngFor="let name of dailyAColumns | slice:1:-1">
        <th mat-header-cell *matHeaderCellDef>
          {{ getConfig(name)?.title }}
          <mat-progress-bar mode="determinate" [value]="weeklyProgressValue(name)" [ngStyle]="weeklyProgressStyle(name)"
            color="accent"></mat-progress-bar>
        </th>
        <td mat-cell *matCellDef="let row">
          {{ displayValue(row, name) }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          ({{ weeklyProgressGoal(name) | rounded:'ceil' }} {{ getConfig(name)?.units }} per day)
        </td>
      </ng-container>
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="row-menu" *matCellDef="let row">
          <button mat-button (click)="onEdit(row, dailyAColumns)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="dailyAColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dailyAColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="dailyAColumns"></tr>
    </table>
  </div>
</div>