<div class="container-fluid px-0">
  <div class="container" *ngIf="currentCycle">
    <div class="row px-3">
      <div class="col text-center">
        <h1 class="text-center font-magistral-bold">
          <app-activity-chart size="2.25rem" [percent]="cycleProgress()">
          </app-activity-chart>
          {{ currentCycle.title }}
        </h1>
        <h4> {{ currentCycle.cycleStart | localDate:'fullDate' }} &mdash; {{ currentCycle.cycleEnd |
          localDate:'fullDate' }}
        </h4>
      </div>
    </div>
    <div class="row container" *ngIf="!inRole('xadmin')">
      <form class="needs-validation" novalidate [formGroup]="requirementsForm" (ngSubmit)="onSubmit()">
        <table class="table table-borderless">
          <caption class="caption-top">{{ currentUser?.displayName || '-?-' }}</caption>
          <thead>
            <tr class="table-dark">
              <th>
                <div class="d-flex">
                  <div>
                    <button type="button" class="btn btn-rounded border-0"
                      [disabled]="currentCycle.weekOf(currentWeek) <= 0">
                      <a [routerLink]="currentRoute" [queryParams]="{week: (currentCycle.weekOf(currentWeek) + 1) - 1}"
                        queryParamsHandling="merge">
                        <i class="text-white fs-2 bi bi-arrow-left-circle-fill"></i>
                      </a>
                    </button>
                  </div>
                  <div class="flex-grow-1">
                    <h2 class="text-center font-magistral-bold">
                      <app-activity-chart size="2rem" [percent]="weekProgress()">
                      </app-activity-chart>
                      Week {{ currentCycle.weekOf(currentWeek) + 1 }}
                    </h2>
                  </div>
                  <div>
                    <button type="button" class="btn btn-rounded border-0"
                      [disabled]="(currentCycle.weekOf(currentWeek) + 1) >= currentCycle.cycleWeeks">
                      <a [routerLink]="currentRoute" [queryParams]="{week: (currentCycle.weekOf(currentWeek) + 1) + 1}"
                        queryParamsHandling="merge">
                        <i class="text-white fs-2 bi bi-arrow-right-circle-fill"></i>
                      </a>
                    </button>
                  </div>
                </div>
              </th>
            </tr>
            <tr class="table-dark">
              <th class="text-center">
                {{ currentWeek.starts | localDate:'fullDate' }} &mdash; {{ currentWeek.ends | localDate:'fullDate' }}
              </th>
            </tr>
            <tr class="table-dark">
              <th class="text-center">
                <button type="button" class="btn btn-link" *ngFor="let w of range(currentCycle.cycleWeeks)">
                  <a [routerLink]="currentRoute" [queryParams]="{week: w + 1}" queryParamsHandling="merge">
                    <i class="bi bi-circle-fill"
                      [ngStyle]="{color: weekColor(w), opacity: w === currentCycle.weekOf(currentWeek) ? '1.0' : '0.5'}"></i>
                  </a>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="container px-0 py-3">
                  <!-- WEEKLY SET A -->
                  <div class="row">
                    <div class="col px-1">
                      <table class="table table-hover">
                        <caption class="caption-top">Weekly Activities</caption>
                        <thead class="table-dark">
                          <tr>
                            <th>Day</th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(weeklyA, 'miles')">
                              </app-activity-chart>
                              {{ getConfig('miles')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(weeklyA, 'pullUps')">
                              </app-activity-chart>
                              {{ getConfig('pullUps')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(weeklyA, 'planks')">
                              </app-activity-chart>
                              {{ getConfig('planks')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(weeklyA, 'rollsFalls')">
                              </app-activity-chart>
                              {{ getConfig('rollsFalls')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(weeklyA, 'journals')">
                              </app-activity-chart>
                              {{ getConfig('journals')?.title }}
                            </th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="weeklyA">
                            <ng-container *ngFor="let weeklyAForm of weeklyA.controls; let i = index">
                              <tr [ngClass]="weekDate(i).equals(currentDate) ? 'table-active' : ''" [formGroupName]="i">
                                <td>{{ weekDate(i) | localDate:'cccc' | uppercase }}<br /><small>{{
                                    weekDate(i) }}</small>
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="miles{{ i }}"
                                    [ngClass]="weeklyAForm.get('miles')?.errors ? 'is-invalid' : ''"
                                    formControlName="miles" />
                                  <div class="invalid-feedback">
                                    Enter {{ getConfig('miles')?.units }}
                                  </div>
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="pullUps{{ i }}"
                                    [ngClass]="weeklyAForm.get('pullUps')?.errors ? 'is-invalid' : ''"
                                    formControlName="pullUps" />
                                  <div class="invalid-feedback">
                                    Enter {{ getConfig('pullUps')?.units }}
                                  </div>
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="planks{{ i }}"
                                    [ngClass]="weeklyAForm.get('planks')?.errors ? 'is-invalid' : ''"
                                    formControlName="planks" />
                                  <div class="invalid-feedback">
                                    Enter {{ getConfig('planks')?.units }}
                                  </div>
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="rollsFalls{{ i }}"
                                    [ngClass]="weeklyAForm.get('rollsFalls')?.errors ? 'is-invalid' : ''"
                                    formControlName="rollsFalls" />
                                  <div class="invalid-feedback">
                                    Enter {{ getConfig('rollsFalls')?.units }}
                                  </div>
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="journals{{ i }}"
                                    formControlName="journals" />
                                </td>
                                <td>
                                  <div *ngIf="isEditable(weeklyAForm)" [title]="canEditTitle(weeklyAForm)">
                                    <button type="button" class="btn btn-link" (click)="edit(weeklyAForm, i)"
                                      [disabled]="!canEdit(weeklyAForm)">
                                      <i class="bi bi-{{ canEdit(weeklyAForm) ? 'pencil' : 'lock' }}"></i>
                                    </button>
                                  </div>
                                  <div *ngIf="!isEditable(weeklyAForm)">
                                    <button type="submit" class="btn btn-link" (click)="save(weeklyAForm, i)">
                                      <i class="bi bi-check-lg"></i>
                                    </button>
                                    <button type="reset" class="btn btn-link" (click)="cancel(weeklyAForm, i)">
                                      <i class="bi bi-x-lg"></i>
                                    </button>
                                  </div>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td></td>
                            <td class="text-center text-muted">
                              ({{ weeklyGoal("miles") | rounded:'ceil' }} miles total)
                            </td>
                            <td colspan="2" class="text-center text-muted">
                              ({{ weeklyGoal("pullUps") | rounded:'ceil' }} minutes total)
                            </td>
                            <td class="text-center text-muted">
                              ({{ weeklyGoal("rollsFalls") | rounded:'ceil' }} mintues total)
                            </td>
                            <td class="text-center text-muted">
                              ({{ weeklyGoal("journals") | rounded:'ceil' }} journals total)
                            </td>
                            <td></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <!-- DAILY SET A -->
                  <div class="row">
                    <div class="col px-1">
                      <table class="table table-hover">
                        <caption class="caption-top">Daily Activites I</caption>
                        <thead class="table-dark">
                          <tr>
                            <th>Day</th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(dailyA, 'jumps')">
                              </app-activity-chart>
                              {{ getConfig('jumps')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(dailyA, 'pushUps')">
                              </app-activity-chart>
                              {{ getConfig('pushUps')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(dailyA, 'sitUps')">
                              </app-activity-chart>
                              {{ getConfig('sitUps')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(dailyA, 'burpees')">
                              </app-activity-chart>
                              {{ getConfig('burpees')?.title }}
                            </th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="dailyA">
                            <ng-container *ngFor="let dailyAForm of dailyA.controls; let i = index">
                              <tr [ngClass]="weekDate(i).equals(currentDate) ? 'table-active' : ''" [formGroupName]="i">
                                <td>{{ weekDate(i) | localDate:'cccc' | uppercase }}<br /><small>{{
                                    weekDate(i) }}</small>
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="jumps{{ i }}" formControlName="jumps" />
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="pushUps{{ i }}"
                                    formControlName="pushUps" />
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="sitUps{{ i }}"
                                    formControlName="sitUps" />
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="burpees{{ i }}"
                                    formControlName="burpees" />
                                </td>
                                <td>
                                  <div *ngIf="isEditable(dailyAForm)" [title]="canEditTitle(dailyAForm)">
                                    <button type="button" class="btn btn-link" (click)="edit(dailyAForm, i)"
                                      [disabled]="!canEdit(dailyAForm)">
                                      <i class="bi bi-{{ canEdit(dailyAForm) ? 'pencil' : 'lock' }}"></i>
                                    </button>
                                  </div>
                                  <div *ngIf="!isEditable(dailyAForm)">
                                    <button type="button" class="btn btn-link" (click)="save(dailyAForm, i)">
                                      <i class="bi bi-check-lg"></i>
                                    </button>
                                    <button type="button" class="btn btn-link" (click)="cancel(dailyAForm, i)">
                                      <i class="bi bi-x-lg"></i>
                                    </button>
                                  </div>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="6" class="text-center text-muted">
                              ({{ dailyGoal("jumps") | rounded:'ceil' }} minutes per day each)
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <!-- DAILY SET B -->
                  <div class="row">
                    <div class="col px-1">
                      <table class="table table-hover">
                        <caption class="caption-top">Daily Activities II</caption>
                        <thead class="table-dark">
                          <tr>
                            <th>Day</th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(dailyB, 'poomsae')">
                              </app-activity-chart>
                              {{ getConfig('poomsae')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(dailyB, 'selfDefense')">
                              </app-activity-chart>
                              {{ getConfig('selfDefense')?.title }}
                            </th>
                            <th>
                              <app-activity-chart size="1.5rem" [percent]="weeklyProgress(dailyB, 'kicks')">
                              </app-activity-chart>
                              {{ getConfig('kicks')?.title }}
                            </th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="dailyB">
                            <ng-container *ngFor="let dailyBForm of dailyB.controls; let i = index">
                              <tr [ngClass]="weekDate(i).equals(currentDate) ? 'table-active' : ''" [formGroupName]="i">
                                <td>{{ weekDate(i) | localDate:'cccc' | uppercase }}<br /><small>{{
                                    weekDate(i) }}</small>
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="poomsae{{ i }}"
                                    formControlName="poomsae" />
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="selfDefense{{ i }}"
                                    formControlName="selfDefense" />
                                </td>
                                <td>
                                  <input type="mumber" class="form-control" id="kicks{{ i }}" formControlName="kicks" />
                                </td>
                                <td>
                                  <div *ngIf="isEditable(dailyBForm)" [title]="canEditTitle(dailyBForm)">
                                    <button type="button" class="btn btn-link" (click)="edit(dailyBForm, i)"
                                      [disabled]="!canEdit(dailyBForm)">
                                      <i class="bi bi-{{ canEdit(dailyBForm) ? 'pencil' : 'lock' }}"></i>
                                    </button>
                                  </div>
                                  <div *ngIf="!isEditable(dailyBForm)">
                                    <button type="button" class="btn btn-link" (click)="save(dailyBForm, i)">
                                      <i class="bi bi-check-lg"></i>
                                    </button>
                                    <button type="button" class="btn btn-link" (click)="cancel(dailyBForm, i)">
                                      <i class="bi bi-x-lg"></i>
                                    </button>
                                  </div>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td></td>
                            <td class="text-center text-muted">
                              ({{ dailyGoal("poomsae") | rounded:'ceil' }} minutes per day each)
                            </td>
                            <td class="text-center text-muted">
                              ({{ dailyGoal("selfDefense") | rounded:'ceil' }} minutes per day
                              each)
                            </td>
                            <td class="text-center text-muted">
                              ({{ dailyGoal("kicks") | rounded:'ceil' }} minutes per day each)
                            </td>
                            <td></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="row container" *ngIf="inRole('admin')">
      Hi Admin!
      <table class="table">
        <tbody>
          <tr *ngFor="let candidate of candidateList; let i = index">
            <td>{{ candidate.displayName }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-link" *ngFor="let w of range(currentCycle.cycleWeeks)">
                <a [routerLink]="currentRoute" [queryParams]="{week: w + 1, can_id: candidate.id }"
                  queryParamsHandling="merge">
                  <i class="bi bi-circle-fill"
                    [ngStyle]="{color: weekColor(w, i), opacity: w === currentCycle.weekOf(currentWeek) ? '1.0' : '0.5'}"></i>
                </a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container" *ngIf="!currentCycle">
    <div class="row">
      <h2 class="text-center">No Active Cycle</h2>
    </div>
  </div>
</div>