<div
  class="col-sm-1 col-md-2 sidebar"
  [ngClass]="className"
  *ngIf="auth.user | async as user"
>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapse-sidebar"
    aria-expanded="false"
    aria-controls="sidebar"
    (click)="toggleSidebar()"
  >
    &gt;
  </button>
  <div class="collapse" id="collapse-sidebar">
    <ul class="nav flex-column">
      <li class="mav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi-home"></i>
          Active
        </a>
      </li>
    </ul>
  </div>
</div>
