
@font-face {
    font-family: "MagistralBold";
    src: url('assets/Magistral_Bold.woff2') format('woff2'), 
        url('assets/Magistral_Bold.woff') format('woff');
}

html, body {
    height: 100%;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    color: canvastext;
}

body { 
    margin: 0; 
    font-family: "Helvetica Neue", Roboto, sans-serif; 
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

/*
app-root {
    height: 100vh;

    display: grid;
    grid-template-areas: "main-header" "main-content" "main-footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

app-root > section#main-header {
    grid-area: main-header;
}

app-root > section#main-content {
    grid-area: main-content;
}

app-root > section#main-footer {
    grid-area: main-footer;
}

section#main-content {
    display: grid;
    grid-template-areas: "content";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.font-magistral-bold {
    font-family: MagistralBold, "Helvetica Neue", Roboto, san-serif;
}

/* Chrome, Safari, Edge, Opera */
/*
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*/
/* Firefox */
/*
input[type=number] {
    -moz-appearance: textfield;
}
*/

/* Importing Bootstrap SCSS file. */
/*
@import 'node_modules/bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
